academic_observatory_workflows/database/schema/pubmed_xsd_schemas/mathml3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!--
    IEEE NISO JATS MODS                    Name Collisions 03/02/2012
    
    The following changes have been made (with the permission of the
    W3C MathML Committee), to this DTD:
    
    1) %product.class; is defined below and also defined in 
    JATS-default-classes.ent. Renamed class in the MathML DTD
    until JATS names can be changed. Renamed the parameter entity
    to "mml-product.class".
    
    2) The parameter entity named "name" was commented out. It is never
    used in the MathML 3.0 DTD, and its presence causes processing
    errors in the Mulberry Tag LIbrary software.
    
    3) id CDATA #IMPLIED ==> id ID #implied
    
-->
<!-- ================================================================= -->
<!-- MathML 3.0 DTD  ....................................................... -->
<!-- file: mathml3.dtd -->
<!--
    MathML 3.0 DTD
    
    This is the Mathematical Markup Language (MathML) 3.0, an XML
    application for describing mathematical notation and capturing
    both its structure and content.
    
    Copyright &#xa9; 1998-2010 W3C&#xae; (MIT, ERCIM, Keio), All Rights 
    Reserved. W3C liability, trademark, document use and software
    licensing rules apply. 
    
    Permission to use, copy, modify and distribute the MathML 2.0 DTD and
    its accompanying documentation for any purpose and without fee is
    hereby granted in perpetuity, provided that the above copyright notice
    and this paragraph appear in all copies.  The copyright holders make
    no representation about the suitability of the DTD for any purpose.
    
    It is provided "as is" without expressed or implied warranty.
    
    This entity may be identified by the PUBLIC and SYSTEM identifiers:
    
      PUBLIC "-//W3C//DTD MathML 3.0//EN"
      SYSTEM "mathml3.dtd"
    
    Revisions: editor and revision history at EOF
-->
<!--
    Entity used to enable marked sections which enforces stricter		
    checking of MathML syntax rules		
-->
<!-- MathML Qualified Names module ............................... -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:xlink="##xlink" xmlns:mml="http://www.w3.org/1998/Math/MathML">
    <xs:include schemaLocation="mathml3-qname1.mod.xsd"/>
    <xs:import schemaLocation="pubmed_230101.xsd"/>
    <xs:import namespace="##xlink" schemaLocation="xlink.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <!--
        if %NS.prefixed; is INCLUDE, include all NS attributes, 
        otherwise just those associated with MathML
    -->
    <!-- MathML Character Entities .............................................. -->
    <xs:element name="MalignExpression" abstract="true" substitutionGroup="mml:PresentationExpression"/>
    <xs:element name="TokenExpression" abstract="true" substitutionGroup="mml:PresentationExpression"/>
    <xs:element name="PresentationExpression" abstract="true" substitutionGroup="mml:MathExpression"/>
    <!-- end of mathml3-strict-content.rng -->
    <xs:complexType name="cn.content" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="mml:mglyph"/>
            <xs:element ref="mml:sep"/>
            <xs:element ref="mml:PresentationExpression"/>
        </xs:choice>
    </xs:complexType>
    <!-- start of mathml3-content.rng -->
    <!-- start of mathml3-strict-content.rng -->
    <xs:element name="cn" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:cn.content">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:DefEncAtt"/>
                    <xs:attribute name="type"/>
                    <xs:attribute name="base"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ci.content" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="mml:mglyph"/>
            <xs:element ref="mml:PresentationExpression"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="ci" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ci.content">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:DefEncAtt"/>
                    <xs:attribute name="type"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="csymbol.content" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="mml:mglyph"/>
            <xs:element ref="mml:PresentationExpression"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="csymbol" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:csymbol.content">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:DefEncAtt"/>
                    <xs:attribute name="type"/>
                    <xs:attribute name="cd"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:group name="BvarQ">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:bvar"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="DomainQ">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="mml:domainofapplication"/>
                <xs:element ref="mml:condition"/>
                <xs:sequence>
                    <xs:element ref="mml:lowlimit"/>
                    <xs:element minOccurs="0" ref="mml:uplimit"/>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:element name="constant-arith.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="constant-set.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="binary-linalg.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-linalg.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-linalg.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-constructor.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="mml:BvarQ"/>
                <xs:group ref="mml:DomainQ"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-stats.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-elementary.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="limit.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mml-product.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sum.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-set.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-set-reln.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="binary-set.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-set.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-setlist-constructor.class" abstract="true" substitutionGroup="mml:ContExp"/>
    <xs:element name="unary-veccalc.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="partialdiff.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Differential-Operator.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="int.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="binary-reln.class" abstract="true" substitutionGroup="mml:ContExp"/>
    <xs:element name="nary-reln.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="quantifier.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="binary-logical.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-logical.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-logical.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-arith.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-minmax.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-arith.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="binary-arith.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nary-functional.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="lambda.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="mml:BvarQ"/>
                <xs:group ref="mml:DomainQ"/>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="unary-functional.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="interval.class" abstract="true" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
            <xs:attribute name="closure"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeprecatedContExp" abstract="true" substitutionGroup="mml:ContExp"/>
    <xs:attributeGroup name="CommonDeprecatedAtt">
        <xs:attribute name="other"/>
    </xs:attributeGroup>
    <xs:group name="Qualifier">
        <xs:choice>
            <xs:group ref="mml:DomainQ"/>
            <xs:element ref="mml:degree"/>
            <xs:element ref="mml:momentabout"/>
            <xs:element ref="mml:logbase"/>
        </xs:choice>
    </xs:group>
    <xs:element name="ContExp" abstract="true" substitutionGroup="mml:MathExpression"/>
    <xs:attributeGroup name="CommonAtt">
        <xs:attribute ref="xlink:href"/>
        <xs:attribute ref="xlink:type"/>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute ref="xml:space"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="xref"/>
        <xs:attribute name="class"/>
        <xs:attribute name="style"/>
        <xs:attribute name="href"/>
        <xs:attributeGroup ref="mml:CommonDeprecatedAtt"/>
    </xs:attributeGroup>
    <xs:complexType name="apply.content">
        <xs:sequence>
            <xs:element ref="mml:ContExp"/>
            <xs:group ref="mml:BvarQ"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:Qualifier"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="apply" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:apply.content">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="bind.content">
        <xs:complexContent>
            <xs:extension base="mml:apply.content"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="bind" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:bind.content">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="src">
        <xs:attribute name="src"/>
    </xs:attributeGroup>
    <xs:element name="share" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:src"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cerror" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:csymbol"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cbytes" substitutionGroup="mml:ContExp">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="cs" substitutionGroup="mml:ContExp">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="DefEncAtt">
        <xs:attribute name="encoding"/>
        <xs:attribute name="definitionURL"/>
    </xs:attributeGroup>
    <xs:element name="bvar">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="mml:degree"/>
                    <xs:choice>
                        <xs:element ref="mml:ci"/>
                        <xs:element ref="mml:semantics"/>
                    </xs:choice>
                </xs:sequence>
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="mml:ci"/>
                        <xs:element ref="mml:semantics"/>
                    </xs:choice>
                    <xs:element minOccurs="0" ref="mml:degree"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="sep">
        <xs:complexType/>
    </xs:element>
    <xs:element name="domainofapplication">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="condition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="uplimit">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lowlimit">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="degree">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="momentabout">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="logbase">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="piecewise" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="mml:piece"/>
                <xs:element ref="mml:otherwise"/>
            </xs:choice>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="piece">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="otherwise">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="reln" substitutionGroup="mml:DeprecatedContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fn" substitutionGroup="mml:DeprecatedContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:ContExp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="declare" substitutionGroup="mml:DeprecatedContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attribute name="type"/>
            <xs:attribute name="scope"/>
            <xs:attribute name="nargs"/>
            <xs:attribute name="occurrence">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="prefix"/>
                        <xs:enumeration value="infix"/>
                        <xs:enumeration value="function-model"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="interval" substitutionGroup="mml:interval.class"/>
    <xs:element name="inverse" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="ident" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="domain" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="codomain" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="image" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="ln" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="log" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="moment" substitutionGroup="mml:unary-functional.class"/>
    <xs:element name="lambda" substitutionGroup="mml:lambda.class"/>
    <xs:element name="compose" substitutionGroup="mml:nary-functional.class"/>
    <xs:element name="quotient" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="divide" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="minus" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="power" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="rem" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="root" substitutionGroup="mml:binary-arith.class"/>
    <xs:element name="factorial" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="abs" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="conjugate" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="arg" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="real" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="imaginary" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="floor" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="ceiling" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="exp" substitutionGroup="mml:unary-arith.class"/>
    <xs:element name="max" substitutionGroup="mml:nary-minmax.class"/>
    <xs:element name="min" substitutionGroup="mml:nary-minmax.class"/>
    <xs:element name="plus" substitutionGroup="mml:nary-arith.class"/>
    <xs:element name="times" substitutionGroup="mml:nary-arith.class"/>
    <xs:element name="gcd" substitutionGroup="mml:nary-arith.class"/>
    <xs:element name="lcm" substitutionGroup="mml:nary-arith.class"/>
    <xs:element name="and" substitutionGroup="mml:nary-logical.class"/>
    <xs:element name="or" substitutionGroup="mml:nary-logical.class"/>
    <xs:element name="xor" substitutionGroup="mml:nary-logical.class"/>
    <xs:element name="not" substitutionGroup="mml:unary-logical.class"/>
    <xs:element name="implies" substitutionGroup="mml:binary-logical.class"/>
    <xs:element name="equivalent" substitutionGroup="mml:binary-logical.class"/>
    <xs:element name="forall" substitutionGroup="mml:quantifier.class"/>
    <xs:element name="exists" substitutionGroup="mml:quantifier.class"/>
    <xs:element name="eq" substitutionGroup="mml:nary-reln.class"/>
    <xs:element name="gt" substitutionGroup="mml:nary-reln.class"/>
    <xs:element name="lt" substitutionGroup="mml:nary-reln.class"/>
    <xs:element name="geq" substitutionGroup="mml:nary-reln.class"/>
    <xs:element name="leq" substitutionGroup="mml:nary-reln.class"/>
    <xs:element name="neq" substitutionGroup="mml:binary-reln.class">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="approx" substitutionGroup="mml:binary-reln.class">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="factorof" substitutionGroup="mml:binary-reln.class">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tendsto" substitutionGroup="mml:binary-reln.class">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="int" substitutionGroup="mml:int.class"/>
    <xs:element name="diff" substitutionGroup="mml:Differential-Operator.class"/>
    <xs:element name="partialdiff" substitutionGroup="mml:partialdiff.class"/>
    <xs:element name="divergence" substitutionGroup="mml:unary-veccalc.class"/>
    <xs:element name="grad" substitutionGroup="mml:unary-veccalc.class"/>
    <xs:element name="curl" substitutionGroup="mml:unary-veccalc.class"/>
    <xs:element name="laplacian" substitutionGroup="mml:unary-veccalc.class"/>
    <xs:element name="set" substitutionGroup="mml:nary-setlist-constructor.class">
        <xs:complexType>
            <xs:sequence>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:BvarQ"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:DomainQ"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="list" substitutionGroup="mml:nary-setlist-constructor.class">
        <xs:complexType>
            <xs:sequence>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:BvarQ"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:DomainQ"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:ContExp"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
            <xs:attribute name="order">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="numeric"/>
                        <xs:enumeration value="lexicographic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="union" substitutionGroup="mml:nary-set.class"/>
    <xs:element name="intersect" substitutionGroup="mml:nary-set.class"/>
    <xs:element name="cartesianproduct" substitutionGroup="mml:nary-set.class"/>
    <xs:element name="in" substitutionGroup="mml:binary-set.class"/>
    <xs:element name="notin" substitutionGroup="mml:binary-set.class"/>
    <xs:element name="notsubset" substitutionGroup="mml:binary-set.class"/>
    <xs:element name="notprsubset" substitutionGroup="mml:binary-set.class"/>
    <xs:element name="setdiff" substitutionGroup="mml:binary-set.class"/>
    <xs:element name="subset" substitutionGroup="mml:nary-set-reln.class"/>
    <xs:element name="prsubset" substitutionGroup="mml:nary-set-reln.class"/>
    <xs:element name="card" substitutionGroup="mml:unary-set.class"/>
    <xs:element name="sum" substitutionGroup="mml:sum.class"/>
    <xs:element name="product" substitutionGroup="mml:mml-product.class"/>
    <xs:element name="limit" substitutionGroup="mml:limit.class"/>
    <xs:element name="sin" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="cos" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="tan" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="sec" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="csc" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="cot" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="sinh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="cosh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="tanh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="sech" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="csch" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="coth" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arcsin" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccos" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arctan" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccosh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccot" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccoth" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccsc" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arccsch" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arcsec" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arcsech" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arcsinh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="arctanh" substitutionGroup="mml:unary-elementary.class"/>
    <xs:element name="mean" substitutionGroup="mml:nary-stats.class"/>
    <xs:element name="sdev" substitutionGroup="mml:nary-stats.class"/>
    <xs:element name="variance" substitutionGroup="mml:nary-stats.class"/>
    <xs:element name="median" substitutionGroup="mml:nary-stats.class"/>
    <xs:element name="mode" substitutionGroup="mml:nary-stats.class"/>
    <xs:element name="vector" substitutionGroup="mml:nary-constructor.class"/>
    <xs:element name="matrix" substitutionGroup="mml:nary-constructor.class"/>
    <xs:element name="matrixrow" substitutionGroup="mml:nary-constructor.class"/>
    <xs:element name="determinant" substitutionGroup="mml:unary-linalg.class"/>
    <xs:element name="transpose" substitutionGroup="mml:unary-linalg.class"/>
    <xs:element name="selector" substitutionGroup="mml:nary-linalg.class"/>
    <xs:element name="vectorproduct" substitutionGroup="mml:binary-linalg.class"/>
    <xs:element name="scalarproduct" substitutionGroup="mml:binary-linalg.class"/>
    <xs:element name="outerproduct" substitutionGroup="mml:binary-linalg.class"/>
    <xs:element name="integers" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="reals" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="rationals" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="naturalnumbers" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="complexes" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="primes" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="emptyset" substitutionGroup="mml:constant-set.class"/>
    <xs:element name="exponentiale" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="imaginaryi" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="notanumber" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="true" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="false" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="pi" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="eulergamma" substitutionGroup="mml:constant-arith.class"/>
    <xs:element name="infinity" substitutionGroup="mml:constant-arith.class"/>
    <!-- end of mathml3-common.rng -->
    <xs:element name="MathExpression" abstract="true"/>
    <!-- end of mathml3-content.rng -->
    <!-- start of mathml3-presentation.rng -->
    <xs:complexType name="ImpliedMrow">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TableRowExpression" abstract="true"/>
    <xs:element name="TableCellExpression" abstract="true">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                    <xs:attribute name="rowspan" type="mml:positive-integer"/>
                    <xs:attribute name="columnspan" type="mml:positive-integer"/>
                    <xs:attribute name="rowalign">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="top"/>
                                <xs:enumeration value="bottom"/>
                                <xs:enumeration value="center"/>
                                <xs:enumeration value="baseline"/>
                                <xs:enumeration value="axis"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="columnalign" type="mml:columnalignstyle"/>
                    <xs:attribute name="groupalign"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:group name="MstackExpression">
        <xs:choice>
            <xs:element ref="mml:MathExpression"/>
            <xs:element ref="mml:mscarries"/>
            <xs:element ref="mml:msline"/>
            <xs:element ref="mml:msrow"/>
            <xs:element ref="mml:msgroup"/>
        </xs:choice>
    </xs:group>
    <xs:group name="MsrowExpression">
        <xs:choice>
            <xs:element ref="mml:MathExpression"/>
            <xs:element ref="mml:none"/>
        </xs:choice>
    </xs:group>
    <xs:group name="MultiScriptExpression">
        <xs:sequence>
            <xs:choice>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:none"/>
            </xs:choice>
            <xs:choice>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:none"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="mpadded-length">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="linestyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="none"/>
            <xs:enumeration value="solid"/>
            <xs:enumeration value="dashed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="columnalignstyle">
        <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="right"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsigned-integer">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="integer">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="number">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="character">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="color">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="positive-integer">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:group name="token.content">
        <xs:sequence>
            <xs:choice minOccurs="0">
                <xs:element ref="mml:mglyph"/>
                <xs:element ref="mml:malignmark"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:element name="mi" substitutionGroup="mml:TokenExpression">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="length">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:attributeGroup name="DeprecatedTokenAtt">
        <xs:attribute name="fontfamily"/>
        <xs:attribute name="fontweight">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="bold"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="fontstyle">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="italic"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="fontsize" type="mml:length"/>
        <xs:attribute name="color" type="mml:color"/>
        <xs:attribute name="background"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="TokenAtt">
        <xs:attribute name="mathvariant">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="italic"/>
                    <xs:enumeration value="bold-italic"/>
                    <xs:enumeration value="double-struck"/>
                    <xs:enumeration value="bold-fraktur"/>
                    <xs:enumeration value="script"/>
                    <xs:enumeration value="bold-script"/>
                    <xs:enumeration value="fraktur"/>
                    <xs:enumeration value="sans-serif"/>
                    <xs:enumeration value="bold-sans-serif"/>
                    <xs:enumeration value="sans-serif-italic"/>
                    <xs:enumeration value="sans-serif-bold-italic"/>
                    <xs:enumeration value="monospace"/>
                    <xs:enumeration value="initial"/>
                    <xs:enumeration value="tailed"/>
                    <xs:enumeration value="looped"/>
                    <xs:enumeration value="stretched"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mathsize"/>
        <xs:attribute name="dir">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ltr"/>
                    <xs:enumeration value="rtl"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="CommonPresAtt">
        <xs:attribute name="mathcolor" type="mml:color"/>
        <xs:attribute name="mathbackground"/>
    </xs:attributeGroup>
    <xs:element name="mn" substitutionGroup="mml:TokenExpression">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mo" substitutionGroup="mml:TokenExpression">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
            <xs:attribute name="form">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="prefix"/>
                        <xs:enumeration value="infix"/>
                        <xs:enumeration value="postfix"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="fence">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="separator">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lspace" type="mml:length"/>
            <xs:attribute name="rspace" type="mml:length"/>
            <xs:attribute name="stretchy">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="symmetric">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="maxsize"/>
            <xs:attribute name="minsize" type="mml:length"/>
            <xs:attribute name="largeop">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="movablelimits">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="accent">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="linebreak">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="auto"/>
                        <xs:enumeration value="newline"/>
                        <xs:enumeration value="nobreak"/>
                        <xs:enumeration value="goodbreak"/>
                        <xs:enumeration value="badbreak"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lineleading" type="mml:length"/>
            <xs:attribute name="linebreakstyle">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="before"/>
                        <xs:enumeration value="after"/>
                        <xs:enumeration value="duplicate"/>
                        <xs:enumeration value="infixlinebreakstyle"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="linebreakmultchar"/>
            <xs:attribute name="indentalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="auto"/>
                        <xs:enumeration value="id"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="indentshift" type="mml:length"/>
            <xs:attribute name="indenttarget"/>
            <xs:attribute name="indentalignfirst">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="auto"/>
                        <xs:enumeration value="id"/>
                        <xs:enumeration value="indentalign"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="indentshiftfirst"/>
            <xs:attribute name="indentalignlast">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="auto"/>
                        <xs:enumeration value="id"/>
                        <xs:enumeration value="indentalign"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="indentshiftlast"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mtext" substitutionGroup="mml:TokenExpression">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mspace" substitutionGroup="mml:TokenExpression">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
            <xs:attribute name="width" type="mml:length"/>
            <xs:attribute name="height" type="mml:length"/>
            <xs:attribute name="depth" type="mml:length"/>
            <xs:attribute name="linebreak">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="auto"/>
                        <xs:enumeration value="newline"/>
                        <xs:enumeration value="nobreak"/>
                        <xs:enumeration value="goodbreak"/>
                        <xs:enumeration value="badbreak"/>
                        <xs:enumeration value="indentingnewline"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ms" substitutionGroup="mml:TokenExpression">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:token.content"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:TokenAtt"/>
            <xs:attribute name="lquote"/>
            <xs:attribute name="rquote"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="mglyph.deprecatedattributes">
        <xs:attribute name="index" type="mml:integer"/>
        <xs:attribute name="mathvariant">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="italic"/>
                    <xs:enumeration value="bold-italic"/>
                    <xs:enumeration value="double-struck"/>
                    <xs:enumeration value="bold-fraktur"/>
                    <xs:enumeration value="script"/>
                    <xs:enumeration value="bold-script"/>
                    <xs:enumeration value="fraktur"/>
                    <xs:enumeration value="sans-serif"/>
                    <xs:enumeration value="bold-sans-serif"/>
                    <xs:enumeration value="sans-serif-italic"/>
                    <xs:enumeration value="sans-serif-bold-italic"/>
                    <xs:enumeration value="monospace"/>
                    <xs:enumeration value="initial"/>
                    <xs:enumeration value="tailed"/>
                    <xs:enumeration value="looped"/>
                    <xs:enumeration value="stretched"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mathsize"/>
        <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="mglyph.attributes">
        <xs:attributeGroup ref="mml:CommonAtt"/>
        <xs:attributeGroup ref="mml:CommonPresAtt"/>
        <xs:attribute name="src"/>
        <xs:attribute name="width" type="mml:length"/>
        <xs:attribute name="height" type="mml:length"/>
        <xs:attribute name="valign" type="mml:length"/>
        <xs:attribute name="alt"/>
    </xs:attributeGroup>
    <xs:element name="mglyph">
        <xs:complexType>
            <xs:attributeGroup ref="mml:mglyph.attributes"/>
            <xs:attributeGroup ref="mml:mglyph.deprecatedattributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="msline">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="position" type="mml:integer"/>
            <xs:attribute name="length" type="mml:unsigned-integer"/>
            <xs:attribute name="leftoverhang" type="mml:length"/>
            <xs:attribute name="rightoverhang" type="mml:length"/>
            <xs:attribute name="mslinethickness"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="none">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mprescripts">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="malignmark" substitutionGroup="mml:MalignExpression">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="edge">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="maligngroup" substitutionGroup="mml:MalignExpression">
        <xs:complexType>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="groupalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="decimalpoint"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="mrow" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="dir">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="ltr"/>
                        <xs:enumeration value="rtl"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="mfrac" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="linethickness"/>
            <xs:attribute name="numalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="denomalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bevelled">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="msqrt" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mroot" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mstyle" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                    <xs:attributeGroup ref="mml:mstyle.specificattributes"/>
                    <xs:attributeGroup ref="mml:mstyle.generalattributes"/>
                    <xs:attributeGroup ref="mml:mstyle.deprecatedattributes"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="mstyle.deprecatedattributes">
        <xs:attributeGroup ref="mml:DeprecatedTokenAtt"/>
        <xs:attribute name="veryverythinmathspace" type="mml:length"/>
        <xs:attribute name="verythinmathspace" type="mml:length"/>
        <xs:attribute name="thinmathspace" type="mml:length"/>
        <xs:attribute name="mediummathspace" type="mml:length"/>
        <xs:attribute name="thickmathspace" type="mml:length"/>
        <xs:attribute name="verythickmathspace" type="mml:length"/>
        <xs:attribute name="veryverythickmathspace" type="mml:length"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="mstyle.generalattributes">
        <xs:attribute name="accent">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="accentunder">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="align">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="center"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="alignmentscope"/>
        <xs:attribute name="bevelled">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="charalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="charspacing"/>
        <xs:attribute name="close"/>
        <xs:attribute name="columnalign"/>
        <xs:attribute name="columnlines"/>
        <xs:attribute name="columnspacing"/>
        <xs:attribute name="columnspan" type="mml:positive-integer"/>
        <xs:attribute name="columnwidth"/>
        <xs:attribute name="crossout"/>
        <xs:attribute name="denomalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="depth" type="mml:length"/>
        <xs:attribute name="dir">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ltr"/>
                    <xs:enumeration value="rtl"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="edge">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="equalcolumns">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="equalrows">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="fence">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="form">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="prefix"/>
                    <xs:enumeration value="infix"/>
                    <xs:enumeration value="postfix"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="frame" type="mml:linestyle"/>
        <xs:attribute name="framespacing"/>
        <xs:attribute name="groupalign"/>
        <xs:attribute name="height" type="mml:length"/>
        <xs:attribute name="indentalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="auto"/>
                    <xs:enumeration value="id"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="indentalignfirst">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="auto"/>
                    <xs:enumeration value="id"/>
                    <xs:enumeration value="indentalign"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="indentalignlast">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="auto"/>
                    <xs:enumeration value="id"/>
                    <xs:enumeration value="indentalign"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="indentshift" type="mml:length"/>
        <xs:attribute name="indentshiftfirst"/>
        <xs:attribute name="indentshiftlast"/>
        <xs:attribute name="indenttarget"/>
        <xs:attribute name="largeop">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="leftoverhang" type="mml:length"/>
        <xs:attribute name="length" type="mml:unsigned-integer"/>
        <xs:attribute name="linebreak">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="auto"/>
                    <xs:enumeration value="newline"/>
                    <xs:enumeration value="nobreak"/>
                    <xs:enumeration value="goodbreak"/>
                    <xs:enumeration value="badbreak"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="linebreakmultchar"/>
        <xs:attribute name="linebreakstyle">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="before"/>
                    <xs:enumeration value="after"/>
                    <xs:enumeration value="duplicate"/>
                    <xs:enumeration value="infixlinebreakstyle"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="lineleading" type="mml:length"/>
        <xs:attribute name="linethickness"/>
        <xs:attribute name="location">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="w"/>
                    <xs:enumeration value="nw"/>
                    <xs:enumeration value="n"/>
                    <xs:enumeration value="ne"/>
                    <xs:enumeration value="e"/>
                    <xs:enumeration value="se"/>
                    <xs:enumeration value="s"/>
                    <xs:enumeration value="sw"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="longdivstyle"/>
        <xs:attribute name="lquote"/>
        <xs:attribute name="lspace" type="mml:length"/>
        <xs:attribute name="mathsize"/>
        <xs:attribute name="mathvariant">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="normal"/>
                    <xs:enumeration value="bold"/>
                    <xs:enumeration value="italic"/>
                    <xs:enumeration value="bold-italic"/>
                    <xs:enumeration value="double-struck"/>
                    <xs:enumeration value="bold-fraktur"/>
                    <xs:enumeration value="script"/>
                    <xs:enumeration value="bold-script"/>
                    <xs:enumeration value="fraktur"/>
                    <xs:enumeration value="sans-serif"/>
                    <xs:enumeration value="bold-sans-serif"/>
                    <xs:enumeration value="sans-serif-italic"/>
                    <xs:enumeration value="sans-serif-bold-italic"/>
                    <xs:enumeration value="monospace"/>
                    <xs:enumeration value="initial"/>
                    <xs:enumeration value="tailed"/>
                    <xs:enumeration value="looped"/>
                    <xs:enumeration value="stretched"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="maxsize"/>
        <xs:attribute name="minlabelspacing" type="mml:length"/>
        <xs:attribute name="minsize" type="mml:length"/>
        <xs:attribute name="movablelimits">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mslinethickness"/>
        <xs:attribute name="notation"/>
        <xs:attribute name="numalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="open"/>
        <xs:attribute name="position" type="mml:integer"/>
        <xs:attribute name="rightoverhang" type="mml:length"/>
        <xs:attribute name="rowalign"/>
        <xs:attribute name="rowlines"/>
        <xs:attribute name="rowspacing"/>
        <xs:attribute name="rowspan" type="mml:positive-integer"/>
        <xs:attribute name="rquote"/>
        <xs:attribute name="rspace" type="mml:length"/>
        <xs:attribute name="selection" type="mml:positive-integer"/>
        <xs:attribute name="separator">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="separators"/>
        <xs:attribute name="shift" type="mml:integer"/>
        <xs:attribute name="side">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="leftoverlap"/>
                    <xs:enumeration value="rightoverlap"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="stackalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="left"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="decimalpoint"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="stretchy">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="subscriptshift" type="mml:length"/>
        <xs:attribute name="superscriptshift" type="mml:length"/>
        <xs:attribute name="symmetric">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="valign" type="mml:length"/>
        <xs:attribute name="width" type="mml:length"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="mstyle.specificattributes">
        <xs:attribute name="scriptlevel" type="mml:integer"/>
        <xs:attribute name="displaystyle">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="scriptsizemultiplier" type="mml:number"/>
        <xs:attribute name="scriptminsize" type="mml:length"/>
        <xs:attribute name="infixlinebreakstyle">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="before"/>
                    <xs:enumeration value="after"/>
                    <xs:enumeration value="duplicate"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="decimalpoint" type="mml:character"/>
    </xs:attributeGroup>
    <xs:element name="merror" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mpadded" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                    <xs:attribute name="height" type="mml:mpadded-length"/>
                    <xs:attribute name="depth" type="mml:mpadded-length"/>
                    <xs:attribute name="width" type="mml:mpadded-length"/>
                    <xs:attribute name="lspace" type="mml:mpadded-length"/>
                    <xs:attribute name="voffset" type="mml:mpadded-length"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mphantom" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mfenced" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="open"/>
            <xs:attribute name="close"/>
            <xs:attribute name="separators"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="menclose" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mml:ImpliedMrow">
                    <xs:attributeGroup ref="mml:CommonAtt"/>
                    <xs:attributeGroup ref="mml:CommonPresAtt"/>
                    <xs:attribute name="notation"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="msub" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="subscriptshift" type="mml:length"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="msup" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="superscriptshift" type="mml:length"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="msubsup.attributes">
        <xs:attributeGroup ref="mml:CommonAtt"/>
        <xs:attributeGroup ref="mml:CommonPresAtt"/>
        <xs:attribute name="subscriptshift" type="mml:length"/>
        <xs:attribute name="superscriptshift" type="mml:length"/>
    </xs:attributeGroup>
    <xs:element name="msubsup" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:msubsup.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="munder" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="accentunder">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="mover" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="accent">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="munderover" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
                <xs:element ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="accent">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="accentunder">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="align">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="center"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="mmultiscripts" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MultiScriptExpression"/>
                <xs:sequence minOccurs="0">
                    <xs:element ref="mml:mprescripts"/>
                    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MultiScriptExpression"/>
                </xs:sequence>
            </xs:sequence>
            <xs:attributeGroup ref="mml:msubsup.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mtable" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:TableRowExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="align"/>
            <xs:attribute name="rowalign"/>
            <xs:attribute name="columnalign"/>
            <xs:attribute name="groupalign"/>
            <xs:attribute name="alignmentscope"/>
            <xs:attribute name="columnwidth"/>
            <xs:attribute name="width"/>
            <xs:attribute name="rowspacing"/>
            <xs:attribute name="columnspacing"/>
            <xs:attribute name="rowlines"/>
            <xs:attribute name="columnlines"/>
            <xs:attribute name="frame" type="mml:linestyle"/>
            <xs:attribute name="framespacing"/>
            <xs:attribute name="equalrows">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="equalcolumns">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="displaystyle">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="side">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="leftoverlap"/>
                        <xs:enumeration value="rightoverlap"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="minlabelspacing" type="mml:length"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlabeledtr" substitutionGroup="mml:TableRowExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="mml:TableCellExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:mtr.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="mtr.attributes">
        <xs:attributeGroup ref="mml:CommonAtt"/>
        <xs:attributeGroup ref="mml:CommonPresAtt"/>
        <xs:attribute name="rowalign">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="top"/>
                    <xs:enumeration value="bottom"/>
                    <xs:enumeration value="center"/>
                    <xs:enumeration value="baseline"/>
                    <xs:enumeration value="axis"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="columnalign"/>
        <xs:attribute name="groupalign"/>
    </xs:attributeGroup>
    <xs:element name="mtr" substitutionGroup="mml:TableRowExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:TableCellExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:mtr.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mtd" substitutionGroup="mml:TableCellExpression"/>
    <xs:element name="mstack" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MstackExpression"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="align"/>
            <xs:attribute name="stackalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="decimalpoint"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="charalign">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="center"/>
                        <xs:enumeration value="right"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="charspacing"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mlongdiv" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="mml:MstackExpression"/>
                <xs:group ref="mml:MstackExpression"/>
                <xs:group maxOccurs="unbounded" ref="mml:MstackExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:msgroup.attributes"/>
            <xs:attribute name="longdivstyle"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="msgroup.attributes">
        <xs:attributeGroup ref="mml:CommonAtt"/>
        <xs:attributeGroup ref="mml:CommonPresAtt"/>
        <xs:attribute name="position" type="mml:integer"/>
        <xs:attribute name="shift" type="mml:integer"/>
    </xs:attributeGroup>
    <xs:element name="msgroup">
        <xs:complexType>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MstackExpression"/>
            <xs:attributeGroup ref="mml:msgroup.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="msrow">
        <xs:complexType>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MsrowExpression"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="position" type="mml:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mscarries">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="mml:MsrowExpression"/>
                <xs:element ref="mml:mscarry"/>
            </xs:choice>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="position" type="mml:integer"/>
            <xs:attribute name="location">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="w"/>
                        <xs:enumeration value="nw"/>
                        <xs:enumeration value="n"/>
                        <xs:enumeration value="ne"/>
                        <xs:enumeration value="e"/>
                        <xs:enumeration value="se"/>
                        <xs:enumeration value="s"/>
                        <xs:enumeration value="sw"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="crossout"/>
            <xs:attribute name="scriptsizemultiplier" type="mml:number"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="mscarry">
        <xs:complexType>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="mml:MsrowExpression"/>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="location">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="w"/>
                        <xs:enumeration value="nw"/>
                        <xs:enumeration value="n"/>
                        <xs:enumeration value="ne"/>
                        <xs:enumeration value="e"/>
                        <xs:enumeration value="se"/>
                        <xs:enumeration value="s"/>
                        <xs:enumeration value="sw"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="crossout"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="maction" substitutionGroup="mml:PresentationExpression">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attribute name="actiontype"/>
            <xs:attribute name="selection" type="mml:positive-integer"/>
        </xs:complexType>
    </xs:element>
    <!-- end of mathml3-presentation.rng -->
    <!-- start of mathml3-common.rng -->
    <xs:element name="math">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mml:MathExpression"/>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attribute name="display">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="block"/>
                        <xs:enumeration value="inline"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="maxwidth" type="mml:length"/>
            <xs:attribute name="overflow">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="linebreak"/>
                        <xs:enumeration value="scroll"/>
                        <xs:enumeration value="elide"/>
                        <xs:enumeration value="truncate"/>
                        <xs:enumeration value="scale"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="altimg"/>
            <xs:attribute name="altimg-width" type="mml:length"/>
            <xs:attribute name="altimg-height" type="mml:length"/>
            <xs:attribute name="altimg-valign"/>
            <xs:attribute name="alttext"/>
            <xs:attribute name="cdgroup"/>
            <xs:attributeGroup ref="mml:math.deprecatedattributes"/>
            <xs:attributeGroup ref="mml:CommonPresAtt"/>
            <xs:attributeGroup ref="mml:mstyle.specificattributes"/>
            <xs:attributeGroup ref="mml:mstyle.generalattributes"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="math.deprecatedattributes">
        <xs:attribute name="mode"/>
        <xs:attribute name="macros"/>
    </xs:attributeGroup>
    <!--
        <!ENTITY % name "
        name CDATA #REQUIRED">
    -->
    <xs:attributeGroup name="annotation.attributes">
        <xs:attributeGroup ref="mml:CommonAtt"/>
        <xs:attribute name="cd"/>
        <xs:attribute name="name"/>
        <xs:attributeGroup ref="mml:DefEncAtt"/>
        <xs:attribute name="src"/>
    </xs:attributeGroup>
    <xs:element name="annotation">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="mml:annotation.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="annotation-xml">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="mml:annotation.attributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="semantics" substitutionGroup="mml:ContExp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mml:MathExpression"/>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="mml:annotation"/>
                    <xs:element ref="mml:annotation-xml"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="mml:CommonAtt"/>
            <xs:attributeGroup ref="mml:DefEncAtt"/>
            <xs:attribute name="cd"/>
            <xs:attribute name="name"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
